#about-main {
	min-height: fit-content;
}

.about {
	padding: 30px;
}

.about-content {
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: start;
}

.about-content h2{
	font-family: var(--heading);
	font-size: 40px;
}

@media (max-width: 480px) {
	.about-content {
		padding: 0 30px;
	}
}