#about-main {
	min-height: 100vh;
}

#about {
	padding: 30px;
}

.about-content h2 {
	font-family: var(--heading);
	font-size: 40px;
}

.about-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	padding: 0 470px;
}

.about-content b {
	text-align: justify;
}

@media (max-width: 450px) {
	#about-main {
		padding: 0 30px;
		text-align: center;
	}
	.about-content {
		padding: 0 10px;
	}
}

@media (max-width: 1000px) {
	.about-content {
		padding: 0 170px;
	}
}