.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.navWrapper {
    position: fixed;
    z-index: 9999;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 70px;
    align-items: center;
	background-color: var(--yellow-light);
}
.nav a {
    text-decoration: none;
    color: var(--black);
}

nav b {
    position: relative;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

nav b::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--grey);
    transition: width 0.3s ease-in-out;
}

nav b:hover::before {
    width: 100%;
}

.ham {
    display: flex;
    align-items: end;
    justify-content: end;
}

@media (min-width: 481px) {
    .ham {
        display: none;
    }
}
.hide {
    width: 95vw !important;
}

@media (max-width: 480px) {
    .nav {
        justify-content: center;
        flex-direction: column;
        align-items: center;
		padding-top: 50px;
        background-color: var(--yellow-light);
    }
    .hide {
        display: none;
    }
    .ham {
        padding-top: 10px;
        position: absolute;
        right: 30px;
        top: 1px;
    }
}
