.legend-main {
    height: 100vh;
}

#legend {
	padding: 30px;
}

.legend-title {
    font-family: var(--heading);
    font-size: 40px;
	padding: 0 30px;
}

.legend-text {
	padding: 0 30px;
	display: flex;
	flex-wrap: nowrap;
}

.btn {
	text-decoration: underline;
	cursor: pointer;
	font-size: 25px;
}

.btn:hover {
	color: var(--grey);
}

.image {
	max-width: 100vw;
	overflow: hidden;
}

.move-image {
    transform: translateX(-150%);
    transition: transform 10s ease;
}

.initial-image-position{
		transform: translateX(70%);
	}

@media (max-width: 1000px) {
	.initial-image-position{
		transform: translateX(50%);
	}
	.move-image {
		transform: translateX(-150%);
		transition: transform 7s ease;
	}
}

@media (max-width: 450px) {
	.image {
		max-width: 100vw;
		overflow: hidden;
	}
	.move-image {
		transform: translateX(-150%);
		transition: transform 7s ease;
	}
}

/* 
#legend {
    padding: 30px;
}

.legend-title {
    font-family: var(--heading);
    font-size: 40px;
    padding: 0 30px;
}

.btn {
    text-decoration: underline;
    cursor: pointer;
    font-size: larger;
    margin-left: 10px;
}

.legend-text {
    padding: 0 470px;
}

.legend-content{
		overflow-x: hidden;
}





@media (max-width: 1000px) {
    .initial-image-position {
        transform: translateX(50%);
    }
}

@media (max-width: 450px) {
    .legend-main {
        text-align: center;
    }
    .legend-text{
		display: block;
    }
    .initial-image-position {
        transform: translateX(100px);
    }
    .move-image {
        transform: translateX(-60%);
        transition: transform 5s ease;
    }
} */
